{% extends "homepage.html" %}
{% block content %}
	<table id="calander" style="margin-top: 20px;">
		<tr>
			<td colspan="7" style="text-align: center;">
				<form method="POST" action="">{% csrf_token %}
					<input type="Submit" id="back" name="action" value="Previous">
					<div id="month" name="m">
						asdad
					</div>
					<input type="Submit" id="back" name="action" value="Next">
					<input type="text" name="month" value="{{ month }}" style="visibility: hidden;display: none;">
					<input type="text" name="year" value="{{ year }}" style="visibility: hidden;display: none;">
				</form>
			</td>
		</tr>
	</table>
	{% autoescape off %}
	<script>
		
		var Months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November','December'];
		var Mon_num = ("{{ month }}");
		var year_num = ("{{ year }}");
		make_cal(year_num,Mon_num);

		function make_cal(year,month){
			var d = new Date(year, month,0);
			var mon = document.getElementById("month");
			
			mon.innerHTML = (String(Months[d.getMonth()]) + "  " + String(year));

			var table = document.getElementById("calander");
			var c = 0;
			var p = -1;
			for(var i = 1 ; i<=d.getDate() ;i++ ){
				if((i-1)%7==0 || i==1){
					c++;
					p=-1;
					var row = table.insertRow(c);
				}
				p++;
				var cell1 = row.insertCell(p);
				cell1.id = "Dates";
				if(i == "{{ date }}"){
					cell1.style="padding-top: 0px;background-color: Red;color: white;";
				}
				var div = document.createElement("div");
				div.id = "Date_number";
				var textnode = document.createTextNode(i);
				div.append(textnode);              
				cell1.append(div);      
				var div = document.createElement("div");
				div.id = "Date_day";
				var da = new Date(year, month-1,i);
				var textnode = document.createTextNode(String(da).split(" ")[0]);
				div.append(textnode);
				cell1.append(div); 
			}

	
		}	
			
		
		
		</script>
	{% endautoescape %}
{% endblock %}