{% extends "homepage.html" %}
{% block content %}
	<table id="calander" style="margin-top: 20px;">
		<tr>
			<td colspan="7" style="text-align: center;">
				<form method="POST" action="">{% csrf_token %}
					<input type="Submit" id="back" name="action" value="Previous">
					<div id="month" name="m">
						asdad
					</div>
					<input type="Submit" id="back" name="action" value="Next">
					<input type="text" name="month" value="{{ month }}" style="visibility: hidden;display: none;">
					<input type="text" name="year" value="{{ year }}" style="visibility: hidden;display: none;">
				</form>
			</td>
		</tr>
	</table>
	<div style="margin: auto;text-align: center;font-size: 40px;margin-top: 20px;" id="log_d">
		Event Details for this Month
	</div>
	<table id="Events_log" style="margin-top: 20px; padding: 0px 60px 20px 60px;width: 100%;">
		<tr style="font-size: 40px;text-align: center;">
			<td style="border-radius: 20px;background-color: red;color: white">Date</td>
			<td style="border-radius: 20px;background-color: red;color: white">Organizer</td>
			<td style="border-radius: 20px;background-color: red;color: white">Agenda</td>
		</tr>
	</table>
	
	<div class="popup" id="popup">
	    <span class="helper"></span>
	    <div style="text-align: center;font-size: 20px;">
	        <div class="popupCloseButton">&times;</div>
	        Event Details
	        <form id="pop_content" method="POST" action="">{% csrf_token %}
					<p>Event Date <input id = "New_date" type="text" name="New_date" value="" readonly="1"></p>
					<p>Event Agenda <input type="text" name="Agenda" placeholder="Enter Agenda Here" required></p>
					<p>Event Organizer <input type="text" name="Organizer" placeholder="Enter Organizer's Name" required></p>
					<p><input type="Submit" name="action" value="Add Event"></p>
					<input type="text" name="month" value="{{ month }}" style="visibility: hidden;display: none;">
					<input type="text" name="year" value="{{ year }}" style="visibility: hidden;display: none;">
					<input type="text" id="event_id" name="id" value="" style="visibility: hidden;display: none;">
			</form>
	    </div>
	</div>
	<div class="edit_popup" id="popup">
	    <span class="helper"></span>
	    <div style="text-align: center;font-size: 20px;">
	        <div class="edit_popupCloseButton">&times;</div>
	        Event Details
	        <form id="edit_pop_content" method="POST" action="">{% csrf_token %}
					<p>Event Date<input id = "edit_New_date" type="text" name="edit_New_date" value="" required></p>
					<p>Event Agenda<input type="text" name="edit_Agenda" id="edit_Agenda" placeholder="Enter Agenda Here" required></p>
					<p>Event Organizer<input type="text" name="edit_Organizer" id="edit_Organizer" placeholder="Enter Organizer's Name" required></p>
					<p><input type="Submit" name="action" value="Edit Event"></p>
					<input type="text" name="month" value="{{ month }}" style="visibility: hidden;display: none;">
					<input type="text" name="year" value="{{ year }}" style="visibility: hidden;display: none;">
					<p><input id = "old_New_date" type="text" name="old_New_date" value="" style="visibility: hidden;display: none;"></p>
					<p><input type="text" name="old_Agenda" id="old_Agenda" placeholder="Enter Agenda Here" style="visibility: hidden;display: none;"></p>
					<p><input type="text" name="old_Organizer" id="old_Organizer" placeholder="Enter Organizer's Name" style="visibility: hidden;display: none;"></p>
			</form>
	    </div>
	</div>

	{% autoescape off %}
	<script>
		
		var Months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November','December'];
		var Mon_num = ("{{ month }}");
		var year_num = ("{{ year }}");
		var organier = ("{{ organizer }}").replace("[","").replace("]","").split(",");
		var event_dates = ("{{ event_dates }}").replace("[","").replace("]","").split(",");
		var content = ("{{ content }}").replace("[","").replace("]","").split(",");
		var ids = ("{{ ID }}").replace("[","").replace("]","").split(",");
		
		var buts = (document.getElementsByClassName("Dates_class"));
		var log_buts = (document.getElementsByClassName("Events_log_details"));

		make_cal(year_num,Mon_num,event_dates);
		event_reminder(year_num,Mon_num,event_dates);
		add_events(year_num,Mon_num,buts);
		edit_events(log_buts);

		document.getElementsByClassName("popupCloseButton")[0].onclick = function() {document.getElementsByClassName("popup")[0].style.display="none";};
		document.getElementsByClassName("edit_popupCloseButton")[0].onclick = function() {document.getElementsByClassName("edit_popup")[0].style.display="none";};

		function make_cal(year,month,event_dates){
			
			var d = new Date(year, month,0);
			var mon = document.getElementById("month");
			
			mon.innerHTML = (String(Months[d.getMonth()]) + "  " + String(year));

			var table = document.getElementById("calander");
			var c = 0;
			var p = -1;
			for(var i = 1 ; i<=d.getDate() ;i++ ){
				var dots=0;
				if((i-1)%7==0 || i==1){
					c++;
					p=-1;
					var row = table.insertRow(c);
				}
				p++;
				var cell1 = row.insertCell(p);
				cell1.className="Dates_class";
				cell1.id = "Dates";
				var dt = new Date();
				if(i == dt.getDate() && month == (dt.getMonth())+1 && year == dt.getFullYear()){
					cell1.style="background-color: Red;color: white;";
				}
				var div = document.createElement("div");
				div.id = "Date_number";
				var textnode = document.createTextNode(i);
				div.append(textnode);              
				cell1.append(div);      
				var div = document.createElement("div");
				div.id = "Date_day";
				var da = new Date(year, month-1,i);
				var textnode = document.createTextNode(String(da).split(" ")[0]);
				div.append(textnode);
				cell1.append(div); 
				var div = document.createElement("div");
				div.id = "Events";
				for(var z=0;z<event_dates.length;z++){
					var dates = event_dates[z].replace(" ","").replace("'","").replace("'","");
					if(dates == String(year)+ "-" +String(month)+ "-" +String(i)){
						dots += 1;
						cell1.style="background-color:green;color:white;";
					} 	
				}
				var txt = "";
				if(dots>1){
					txt = String(dots)+" "+"Events";
				}
				else if(dots == 1){
					txt = "1 Event";
				}
				else{
					txt = "Add Event";
				}
				var textnode = document.createTextNode(txt);
				div.append(textnode);              
				cell1.append(div);
				
			}
		}

		function event_reminder(year,month,event_dates){
			var count = 0;
			var table = document.getElementById("Events_log");
			for(var z=0;z<event_dates.length;z++){
					var dates = event_dates[z].replace(" ","").replace("'","").replace("'","").split("-");
					if(dates[0]+ "-" +dates[1] == String(year)+ "-" +String(month)){	
						var row = table.insertRow(count+1);
						row.className="Events_log_details";
						row.id = "Event_holder";
						var dates = event_dates[z].replace(" ","").replace("'","").replace("'","");
						var cell = row.insertCell(0);
						cell.id = "Event_Date";
						var div = document.createElement("div");
						var textnode = document.createTextNode(dates);
						div.append(textnode);              
						cell.append(div);    
						var organizer = organier[z].replace("'","").replace("'","");
						var cell = row.insertCell(1);
						cell.id = "Event_Organizer";
						var div = document.createElement("div");
						var textnode = document.createTextNode(organizer);
						div.append(textnode);              
						cell.append(div); 
						var agenda = content[z].replace("'","").replace("'","");
						var cell = row.insertCell(2);
						cell.id = "Event_Agenda";
						var div = document.createElement("div");
						var textnode = document.createTextNode(agenda);
						div.append(textnode);              
						cell.append(div); 
						count += 1;
						console.log()
					}
					dates="";
				}
			if(count == 0){
				table.remove();
				document.getElementById("log_d").innerHTML = "No Events Scheduled for this month";
			}
		}

		function edit_events(log_buts){
			for(var z=0;z<log_buts.length;z++){
				log_buts[z].onclick = function(){
					
					document.getElementsByClassName("edit_popup")[0].style.display = "block";
					
					document.getElementById("edit_New_date").value = (this.children[0].innerHTML.replace("<div>","").replace("</div>",""));
					document.getElementById("edit_Agenda").value = (this.children[2].innerHTML.replace("<div>","").replace("</div>",""));
					document.getElementById("edit_Organizer").value = (this.children[1].innerHTML.replace("<div>","").replace("</div>",""));
					document.getElementById("old_New_date").value = (this.children[0].innerHTML.replace("<div>","").replace("</div>",""));
					document.getElementById("old_Agenda").value = (this.children[2].innerHTML.replace("<div>","").replace("</div>",""));
					document.getElementById("old_Organizer").value = (this.children[1].innerHTML.replace("<div>","").replace("</div>",""));
				
				}
			}
		}
	
		function add_events(year,month,buts){
			var auth = "admi";		
			for(var z = 0;z<buts.length;z++){
				buts[z].onclick = function(){
			
				//alert("Add event to "+this.children[0].innerHTML);
				if(auth == "admin"){
					document.getElementsByClassName("popup")[0].style.display = "block";
					document.getElementById("New_date").value = year+"-"+month+"-"+this.children[0].innerHTML;
				}
				else{
					alert("Not Authorized ")
				}
				};
			}
		}
		
		</script>
		
	{% endautoescape %}
{% endblock %}