{% extends "homepage.html" %}
{% block content %}
	<div style="margin: auto;text-align: center;font-size: 40px;margin-top: 20px;" id="log_d">
		Pending Event Details
	</div>
	<table id="req_Events_log" style="margin-top: 20px; padding: 0px 60px 20px 60px;width: 100%;">
		<tr style="font-size: 40px;text-align: center;">
			<td style="border-radius: 20px;background-color: red;color: white">Date</td>
			<td style="border-radius: 20px;background-color: red;color: white">Organizer</td>
			<td style="border-radius: 20px;background-color: red;color: white">Agenda</td>
		</tr>
	</table>
	<div class="popup" id="popup">
	    <span class="helper"></span>
	    <div style="text-align: center;font-size: 20px;">
	        <div class="popupCloseButton">&times;</div>
	        Event Details
	        <form id="pop_content" method="POST" action="">{% csrf_token %}
					<p>Event Date <input id = "New_date" type="text" name="New_date" value="" readonly="1"></p>
					<p>Event Agenda <input type="text" id="Agenda" name="Agenda" placeholder="Enter Agenda Here" readonly="1"></p>
					<p>Event Organizer <input type="text" id="Organizer" name="Organizer" placeholder="Enter Organizer's Name" value="" readonly="1"></p>
					<p> <input type="text" id="row" name="row" value="" style="display: none;"></p>
					<p><input type="Submit" name="action" value="Add Event"></p>
			</form>
	    </div>
	</div>
	{% autoescape off %}
	<script>
		var organier = ("{{ organizer }}").replace("[","").replace("]","").split(",");
		var event_dates = ("{{ event_dates }}").replace("[","").replace("]","").split(",");
		var content = ("{{ content }}").replace("[","").replace("]","").split(",");
		var ids = ("{{ ID }}").replace("[","").replace("]","").split(",");
		
		admin_panel();
		var log_buts = (document.getElementsByClassName("Events_log_details"));

		edit_events(log_buts);

		document.getElementsByClassName("popupCloseButton")[0].onclick = function() {document.getElementsByClassName("popup")[0].style.display="none";};

		function admin_panel(){
			var count = 0;
			var table = document.getElementById("req_Events_log");
			for(var z=0;z<event_dates.length;z++){
				if(event_dates[z].replace(" ","").replace("'","").replace("'","") != ""){
					var row = table.insertRow(count+1);
					row.className="Events_log_details";
					row.id = "Event_holder";
					var dates = event_dates[z].replace(" ","").replace("'","").replace("'","");
					var cell = row.insertCell(0);
					cell.id = "Event_Date";
					var div = document.createElement("div");
					var textnode = document.createTextNode(dates);
					div.append(textnode);              
					cell.append(div);    
					var organizer = organier[z].replace("'","").replace("'","");
					var cell = row.insertCell(1);
					cell.id = "Event_Organizer";
					var div = document.createElement("div");
					var textnode = document.createTextNode(organizer);
					div.append(textnode);              
					cell.append(div); 
					var agenda = content[z].replace("'","").replace("'","");
					var cell = row.insertCell(2);
					cell.id = "Event_Agenda";
					var div = document.createElement("div");
					var textnode = document.createTextNode(agenda);
					div.append(textnode);              
					cell.append(div); 
					count++;
				}
			}
			if(count<1){
				table.remove();
				document.getElementById("log_d").innerHTML = "No Pending Events Left To Accept";
			}
			
		}

		function edit_events(log_buts){
			for(var z=0;z<log_buts.length;z++){
				log_buts[z].onclick = function(){
					
					document.getElementsByClassName("popup")[0].style.display = "block";
					document.getElementById("New_date").value = (this.children[0].innerHTML.replace("<div>","").replace("</div>",""));
					document.getElementById("Agenda").value = (this.children[2].innerHTML.replace("<div>","").replace("</div>",""));
					document.getElementById("Organizer").value = (this.children[1].innerHTML.replace("<div>","").replace("</div>",""));
					document.getElementById("row").value = ids[(this.rowIndex)-1];
				}
			}
		}

	</script>
	{% endautoescape %}
{% endblock %}