{% extends "homepage.html" %}
{% block content %}
	<div id="Automation" style="margin-top: 4%; font-size: 30px;width: 100%;">
		Water Automation    
		<label class="switch" style="margin-left: 1%;">
		  <input type="checkbox" id="checkbox">
		  <span class="slider round"></span>
		</label>
		<button style="float: right;" onclick="alert('Data Exported')" id="export_data">Export Data</button>
	</div>
	<div style="display: flex; margin-top: 4%;margin-left: 10%;">
		<div class="c100 p25 big" id="water_level">
			<span id="water_level_label">25%</span>
			<div class="slice">
				<div class="bar"></div>
				<div class="fill"></div>
			</div>
		</div>
		<div style="margin-left: 40px;margin-top: 4%; font-size: 79px;">
		water level in tank
		</div>		
	</div>
	<div id="pumps" style="margin-top: 2%;">
		<font size="5">Pump Status</font> 
		<label class="switch" style="margin-left: 1%;">
		  <input type="checkbox" id="pump">
		  <span class="slider"></span>
		</label>
	</div>
	<br>
	<hr>
	<br>
	<div>
		<font size="8">Schedule Lights</font>
		<br>
		From <input type="time" name="from_light_schedule" id="from_light_schedule" style="margin-left:0%;height: 40px;" min = 0 max = 5>  To <input type="time" name="to_light_schedule" id="to_light_schedule" style="margin-left:0%;height: 40px;" min = 0 max = 5>
		<label class="switch" style="margin-left: 1%;">
		  <input type="checkbox" id="Schedule_lights_action">
		  <span class="slider"></span>
		</label>
	</div>
	<div id="lights" style="margin-top: 2%;">
			<font size="8">All Lights</font> 
			<label class="switch" style="margin-left: 1%;">
			  <input type="checkbox" id="all_lights">
			  <span class="slider"></span>
			</label>
		</div>
	<div id="floor_settings" style="margin-top:4%;">
		<font size="8">Select Floor Number</font>
		<input type="number" name="floor_number" id="floor_number" style="margin-left:4%;height: 40px;" min = 0 max = 5>
		<div id="lights" style="margin-top: 2%;">
			<font size="5">Floor Lights</font> 
			<label class="switch" style="margin-left: 1%;">
			  <input type="checkbox" id="light">
			  <span class="slider"></span>
			</label>
		</div>
		<div id="Floor CCTV" style="margin-top: 2%;">
			<font size="5">Floor CCTV Feed</font> 
			<br>
			 <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1" height="500" width="800" title="Iframe Example"></iframe> 
		</div>
	</div>
	
	{% autoescape off %}
	<script>
		document.getElementById("floor_number").value=0;
		authorization_check();
		read_water_tank_status();
		read_light_status();
		read_water_tank_level();
		// switches onclick events

		document.getElementById("checkbox").onclick = function(){
			if(document.getElementById("checkbox").checked == true){
				post_switch_status("automation_switch","true");
				
				document.getElementById("pump").disabled=true;
				//document.getElementById("light").disabled=true;
				alert("System on Automation all switches are locked to avoid manual control");
			}
			else if(document.getElementById("checkbox").checked == false){
				post_switch_status("automation_switch","false");
				
				document.getElementById("pump").disabled=false;
				//document.getElementById("light").disabled=false;
				alert("System on Manual control All Switches Unlocked");
				
			}
		}

		document.getElementById("pump").onclick = function(){
			if(document.getElementById("pump").checked == true){
				post_switch_status("pump_switch","true");
			}
			else if(document.getElementById("pump").checked == false){
				post_switch_status("pump_switch","false");
			}
		}

		document.getElementById('Schedule_lights_action').onclick = function(){
			//console.log(document.getElementById('light_schedule').value);
			if(document.getElementById("Schedule_lights_action").checked == true){
				post_light_switch_status("scheduled_lights","true");
			}
			else if(document.getElementById("Schedule_lights_action").checked == false){
				post_light_switch_status("scheduled_lights","false");
			}
		}
		document.getElementById('all_lights').onclick = function(){
			//console.log(document.getElementById('light_schedule').value);
			if(document.getElementById("all_lights").checked == true){
				post_light_switch_status("all_lights","true");
				all_lights_operation();
			}
			else if(document.getElementById("all_lights").checked == false){
				post_light_switch_status("all_lights","false");
				all_lights_operation();
			}
		}
		
	

		function read_water_tank_level(){
			let xhr = new XMLHttpRequest();
			xhr.open('get', 'http://192.168.43.55:8000/read_water_tank_status/');
			xhr.send();

			xhr.onload = function() {
			    //console.log(JSON.parse(xhr.response)['pump_status']);
			  	var level = JSON.parse(xhr.response)['water_level'];
				document.getElementById("water_level").className = "c100 p"+level+" big";
				document.getElementById("water_level_label").innerHTML = level+"%";
			};
			read_floor_light_status(document.getElementById("floor_number").value.toString());
			setTimeout(read_water_tank_level,10000);
		}

		function read_water_tank_status(){
			let xhr = new XMLHttpRequest();
			xhr.open('get', 'http://192.168.43.55:8000/read_water_tank_status/');
			xhr.send();

			xhr.onload = function() {
			    //console.log(JSON.parse(xhr.response)['pump_status']);
				//switches				
				if(JSON.parse(xhr.response)['pump_status']=="true"){
					document.getElementById("pump").checked=true;
					post_switch_status("pump_switch","true");
				}
				else{
					document.getElementById("pump").checked=false;
					post_switch_status("pump_switch","false");
					
				}
				if(JSON.parse(xhr.response)['automation_status']=="true"){
					document.getElementById("checkbox").checked=true;
					post_switch_status("automation_switch","true");
					document.getElementById("pump").disabled=true;
					alert("Water System is now on Automation control");
					
					//document.getElementById("light").disabled=true;

					
				}
				else{
					document.getElementById("checkbox").checked=false;
					post_switch_status("automation_switch","false");
					document.getElementById("pump").disabled=false;
					alert("Water System is now on Manual control ");
					
					//document.getElementById("light").disabled=false;
					
				}
			};
		}

		function authorization_check(){
			if("{{ auth }}" != "admin"){
				document.getElementById("checkbox").disabled=true;
				document.getElementById("export_data").disabled=true;
			}
			else{
				document.getElementById("checkbox").disabled=false;
				document.getElementById("export_data").disabled=false;	
			}
	
		}

		function post_switch_status(switch_name,status){
			let xhr = new XMLHttpRequest();
			xhr.open('get', 'http://192.168.43.55:8000/switch_status?switch_name='+switch_name+'&status='+status);
			xhr.send();
		}

		function read_light_status(){
			let xhr = new XMLHttpRequest();
			xhr.open('get', 'http://192.168.43.55:8000/read_light_switch_status/');
			xhr.send();

			xhr.onload = function() {
			    //console.log(JSON.parse(xhr.response)['pump_status']);
				//switches				
				document.getElementById("from_light_schedule").value=JSON.parse(xhr.response)['scheduled_time_from'];
				document.getElementById("to_light_schedule").value=JSON.parse(xhr.response)['scheduled_time_to'];
				
				if(JSON.parse(xhr.response)['scheduled_lights']=="true"){
					document.getElementById("Schedule_lights_action").checked=true;
				}
				else{
					document.getElementById("Schedule_lights_action").checked=false;
				}
				if(JSON.parse(xhr.response)['all_lights']=="true"){
					document.getElementById("all_lights").checked=true;
				}
				else{
					document.getElementById("all_lights").checked=false;
				}
			};
		}

		function post_light_switch_status(switch_name,status){
			let xhr = new XMLHttpRequest();
			xhr.open('get', 'http://192.168.43.55:8000/light_switch_status?switch_name='+switch_name+'&status='+status);
			xhr.send();
		}

		function all_lights_operation(){
			let xhr = new XMLHttpRequest();
			xhr.open('get', 'http://192.168.43.55:8000/all_lights_operation/');
			xhr.send();
		}

		function read_floor_light_status(floor_number){
			let xhr = new XMLHttpRequest();
			xhr.open('get', 'http://192.168.43.55:8000/read_floor_light_status?floor_number='+floor_number);
			xhr.send();
			xhr.onload = function() {
				//console.log(JSON.parse(xhr.response)['status']);
				if(JSON.parse(xhr.response)['status']=="true"){
					document.getElementById("light").checked=true;
				}
				else{
					document.getElementById("light").checked=false;
				}
				
			};
		}


	</script>
	{% endautoescape %}
		
{% endblock %}