{% extends "homepage.html" %}
{% block content %}

	<table id="req_user_log" style="margin-top: 20px; padding: 0px 60px 20px 60px;width: 100%;overflow-y: scroll;overflow-x: hidden;">
		<tr style="font-size: 40px;text-align: center;">
			<td style="border-radius: 20px;background-color: red;color: white">Username</td>
			<td style="border-radius: 20px;background-color: red;color: white">Mobile Number</td>
			<td style="border-radius: 20px;background-color: red;color: white">Floor Number / Flat Number</td>
		</tr>
	</table>
	<div class="popup" id="popup">
	    <span class="helper"></span>
	    <div style="text-align: center;font-size: 20px;">
	        <div class="popupCloseButton">&times;</div>
	        User Details
	        <form id="pop_content" method="POST" action="">{% csrf_token %}
					<p>Username <input id = "New_user" type="text" name="username" value="" readonly="1"></p>
					<p>Mobile Number <input type="text" id="password" name="flat" readonly="1"></p>
					<p>Floor Number / Flat Number <input type="text" id="user_ID" name="floor" value="" readonly="1"></p>
					<p>Wing <input id = "wing" type="text" name="wing" value="" readonly="1"></p>
					<p>Email ID <input type="text" id="email" name="email" readonly="1"></p>
					<p>Link<input type="text" id="link" name="link" value="" readonly="1"></p>
					<p> <input type="text" id="user_row" name="user_row" value="" style="display: none;"></p>
					<p> <input type="text" id="user_pswd" name="password" value="" style="display: none;"></p>
					<p><input type="Submit" name="action" value="Delete User"></p>
			</form>
	    </div>
	</div>
	

	{% autoescape off %}
		<script type="text/javascript">
			var username = ("{{ username }}").replace("[","").replace("]","").split(",");
			var email = ("{{ password }}").replace("[","").replace("]","").split(",");
			var flat = ("{{ user_ID }}").replace("[","").replace("]","").split(",");
			var floor = ("{{ floor }}").replace("[","").replace("]","").split(",");
			var wing = ("{{ wing }}").replace("[","").replace("]","").split(",");
			var link = ("{{ link }}").replace("[","").replace("]","").split(",");
			var pswd = ("{{ pswd }}").replace("[","").replace("]","").split(",");
			var id = ("{{ ID }}").replace("[","").replace("]","").split(",");

			user_req_panel();
			var log_buts = (document.getElementsByClassName("user_log_details"));
			accept_user(log_buts);

			document.getElementsByClassName("popupCloseButton")[0].onclick = function() {document.getElementsByClassName("popup")[0].style.display="none";};
			
			function user_req_panel(){
			var count = 0;
			var table = document.getElementById("req_user_log");
			for(var z=0;z<username.length;z++){
				if(username[z].replace(" ","").replace("'","").replace("'","") != ""){
					var row = table.insertRow(count+1);
					row.className="user_log_details";
					row.id = "user_details_holder";
					var dates = username[z].replace(" ","").replace("'","").replace("'","");
					var cell = row.insertCell(0);
					cell.id = "Event_Date";
					var div = document.createElement("div");
					var textnode = document.createTextNode(dates);
					div.append(textnode);              
					cell.append(div);    
					var organizer = flat[z].replace("'","").replace("'","");
					var cell = row.insertCell(1);
					cell.id = "Event_Organizer";
					var div = document.createElement("div");
					var textnode = document.createTextNode(organizer);
					div.append(textnode);              
					cell.append(div); 
					var agenda = floor[z].replace("'","").replace("'","");
					var cell = row.insertCell(2);
					cell.id = "Event_Agenda";
					var div = document.createElement("div");
					var textnode = document.createTextNode(agenda);
					div.append(textnode);              
					cell.append(div); 
					count++;
				}
			}
						
		}

		function accept_user(log_buts){
			for(var z=0;z<log_buts.length;z++){
				log_buts[z].onclick = function(){
					
					document.getElementsByClassName("popup")[0].style.display = "block";
					document.getElementById("New_user").value = (this.children[0].innerHTML.replace("<div>","").replace("</div>",""));
					document.getElementById("password").value = (this.children[1].innerHTML.replace("<div>","").replace("</div>",""));
					document.getElementById("user_ID").value = (this.children[2].innerHTML.replace("<div>","").replace("</div>",""));
					document.getElementById("wing").value = wing[(this.rowIndex)-1].replace(" ","").replace("'","").replace("'","");
					document.getElementById("email").value = email[(this.rowIndex)-1].replace(" ","").replace("'","").replace("'","");
					document.getElementById("link").value = link[(this.rowIndex)-1].replace(" ","").replace("'","").replace("'","");
					document.getElementById("user_pswd").value = pswd[(this.rowIndex)-1].replace(" ","").replace("'","").replace("'","");
					document.getElementById("user_row").value = id[(this.rowIndex)-1].replace(" ","").replace("'","").replace("'","");
					console.log(document.getElementById("user_row").value);
				}
			}
		}

		</script>
	{% endautoescape %}
{% endblock %}